In [19]:
import numpy as np
import pandas as  pd
from camo import greedy
from matplotlib import pyplot as plot

In [18]:
paysim = pd.read_csv("PS_20174392719_1491204439457_log.csv")
paysim.head()

,step,type,amount,nameOrig,oldbalanceOrg,newbalanceOrig,nameDest,oldbalanceDest,newbalanceDest,isFraud,isFlaggedFraud
0,1,PAYMENT,9839.64,C1231006815,170136.0,160296.36,M1979787155,0.0,0.0,0,0
1,1,PAYMENT,1864.28,C1666544295,21249.0,19384.72,M2044282225,0.0,0.0,0,0
2,1,TRANSFER,181.00,C1305486145,181.0,0.00,C553264065,0.0,0.0,1,0
3,1,CASH_OUT,181.00,C840083671,181.0,0.00,C38997010,21182.0,0.0,1,0
4,1,PAYMENT,11668.14,C2048537720,41554.0,29885.86,M1230701703,0.0,0.0,0,0

In [70]:
paysim['nameOrig'].value_counts()
max(paysim["step"])

743

In [63]:
transaction = paysim[["nameOrig", "nameDest"]]
transaction = transaction.join(transaction, on="nameDest", rsuffix="h")
transaction.head()

      nameOrig     nameDest nameOrigh nameDesth
0  C1231006815  M1979787155       NaN       NaN
1  C1666544295  M2044282225       NaN       NaN
2  C1305486145   C553264065       NaN       NaN
3   C840083671    C38997010       NaN       NaN
4  C2048537720  M1230701703       NaN       NaN

In [37]:
indexer = dict()
counter =0
for i in transaction.nameOrig.unique():
    indexer[i] = counter
    counter +=1

counter *= 2
for i in transaction.nameDest.unique():
    indexer[i] = counter
    counter+=1

In [45]:
remapped_orig = []
remapped_dest = []

for row in transaction.iterrows():
    row = row[1]
    remapped_orig.append(indexer[row["nameOrig"]])
    remapped_dest.append(indexer[row["nameDest"]])

In [46]:
M = greedy.listToSparseMatrix(remapped_orig, remapped_dest)
lwRes = greedy.logWeightedAveDegree(M)

finished computing weight matrix
finished initialization
finished setting deltas
finished building min trees
current set size = 30800000
current set size = 30700000
current set size = 30600000
current set size = 30500000
current set size = 30400000
current set size = 30300000
current set size = 30200000
current set size = 30100000
current set size = 30000000
current set size = 29900000
current set size = 29800000
current set size = 29700000
current set size = 29600000
current set size = 29500000
current set size = 29400000
current set size = 29300000
current set size = 29200000
current set size = 29100000
current set size = 29000000
current set size = 28900000
current set size = 28800000
current set size = 28700000
current set size = 28600000
current set size = 28500000
current set size = 28400000
current set size = 28300000
current set size = 28200000
current set size = 28100000
current set size = 28000000
current set size = 27900000
current set size = 27800000
current set size = 27700000
current set size = 27600000
current set size = 27500000
current set size = 27400000
current set size = 27300000
current set size = 27200000
current set size = 27100000
current set size = 27000000
current set size = 26900000
current set size = 26800000
current set size = 26700000
current set size = 26600000
current set size = 26500000
current set size = 26400000
current set size = 26300000
current set size = 26200000
current set size = 26100000
current set size = 26000000
current set size = 25900000
current set size = 25800000
current set size = 25700000
current set size = 25600000
current set size = 25500000
current set size = 25400000
current set size = 25300000
current set size = 25200000
current set size = 25100000
current set size = 25000000
current set size = 24900000
current set size = 24800000
current set size = 24700000
current set size = 24600000
current set size = 24500000
current set size = 24400000
current set size = 24300000
current set size = 24200000
current set size = 24100000
current set size = 24000000
current set size = 23900000
current set size = 23800000
current set size = 23700000
current set size = 23600000
current set size = 23500000
current set size = 23400000
current set size = 23300000
current set size = 23200000
current set size = 23100000
current set size = 23000000
current set size = 22900000
current set size = 22800000
current set size = 22700000
current set size = 22600000
current set size = 22500000
current set size = 22400000
current set size = 22300000
current set size = 22200000
current set size = 22100000
current set size = 22000000
current set size = 21900000
current set size = 21800000
current set size = 21700000
current set size = 21600000
current set size = 21500000
current set size = 21400000
current set size = 21300000
current set size = 21200000
current set size = 21100000
current set size = 21000000
current set size = 20900000
current set size = 20800000
current set size = 20700000
current set size = 20600000
current set size = 20500000
current set size = 20400000
current set size = 20300000
current set size = 20200000
current set size = 20100000
current set size = 20000000
current set size = 19900000
current set size = 19800000
current set size = 19700000
current set size = 19600000
current set size = 19500000
current set size = 19400000
current set size = 19300000
current set size = 19200000
current set size = 19100000
current set size = 19000000
current set size = 18900000
current set size = 18800000
current set size = 18700000
current set size = 18600000
current set size = 18500000
current set size = 18400000
current set size = 18300000
current set size = 18200000
current set size = 18100000
current set size = 18000000
current set size = 17900000
current set size = 17800000
current set size = 17700000
current set size = 17600000
current set size = 17500000
current set size = 17400000
current set size = 17300000
current set size = 17200000
current set size = 17100000
current set size = 17000000
current set size = 16900000
current set size = 16800000
current set size = 16700000
current set size = 16600000
current set size = 16500000
current set size = 16400000
current set size = 16300000
current set size = 16200000
current set size = 16100000
current set size = 16000000
current set size = 15900000
current set size = 15800000
current set size = 15700000
current set size = 15600000
current set size = 15500000
current set size = 15400000
current set size = 15300000
current set size = 15200000
current set size = 15100000
current set size = 15000000
current set size = 14900000
current set size = 14800000
current set size = 14700000
current set size = 14600000
current set size = 14500000
current set size = 14400000
current set size = 14300000
current set size = 14200000
current set size = 14100000
current set size = 14000000
current set size = 13900000
current set size = 13800000
current set size = 13700000
current set size = 13600000
current set size = 13500000
current set size = 13400000
current set size = 13300000
current set size = 13200000
current set size = 13100000
current set size = 13000000
current set size = 12900000
current set size = 12800000
current set size = 12700000
current set size = 12600000
current set size = 12500000
current set size = 12400000
current set size = 12300000
current set size = 12200000
current set size = 12100000
current set size = 12000000
current set size = 11900000
current set size = 11800000
current set size = 11700000
current set size = 11600000
current set size = 11500000
current set size = 11400000
current set size = 11300000
current set size = 11200000
current set size = 11100000
current set size = 11000000
current set size = 10900000
current set size = 10800000
current set size = 10700000
current set size = 10600000
current set size = 10500000
current set size = 10400000
current set size = 10300000
current set size = 10200000
current set size = 10100000
current set size = 10000000
current set size = 9900000
current set size = 9800000
current set size = 9700000
current set size = 9600000
current set size = 9500000
current set size = 9400000
current set size = 9300000
current set size = 9200000
current set size = 9100000
current set size = 9000000
current set size = 8900000
current set size = 8800000
current set size = 8700000
current set size = 8600000
current set size = 8500000
current set size = 8400000
current set size = 8300000
current set size = 8200000
current set size = 8100000
current set size = 8000000
current set size = 7900000
current set size = 7800000
current set size = 7700000
current set size = 7600000
current set size = 7500000
current set size = 7400000
current set size = 7300000
current set size = 7200000
current set size = 7100000
current set size = 7000000
current set size = 6900000
current set size = 6800000
current set size = 6700000
current set size = 6600000
current set size = 6500000
current set size = 6400000
current set size = 6300000
current set size = 6200000
current set size = 6100000
current set size = 6000000
current set size = 5900000
current set size = 5800000
current set size = 5700000
current set size = 5600000
current set size = 5500000
current set size = 5400000
current set size = 5300000
current set size = 5200000
current set size = 5100000
current set size = 5000000
current set size = 4900000
current set size = 4800000
current set size = 4700000
current set size = 4600000
current set size = 4500000
current set size = 4400000
current set size = 4300000
current set size = 4200000
current set size = 4100000
current set size = 4000000
current set size = 3900000
current set size = 3800000
current set size = 3700000
current set size = 3600000
current set size = 3500000
current set size = 3400000
current set size = 3300000
current set size = 3200000
current set size = 3100000
current set size = 3000000
current set size = 2900000
current set size = 2800000
current set size = 2700000
current set size = 2600000
current set size = 2500000
current set size = 2400000
current set size = 2300000
current set size = 2200000
current set size = 2100000
current set size = 2000000
current set size = 1900000
current set size = 1800000
current set size = 1700000

current set size = 1600000
current set size = 1500000
current set size = 1400000
current set size = 1300000
current set size = 1200000
current set size = 1100000
current set size = 1000000
current set size = 900000
current set size = 800000
current set size = 700000
current set size = 600000
current set size = 500000
current set size = 400000
current set size = 300000
current set size = 200000
current set size = 100000

In [54]:
fraud_participants  = list(set(lwRes[0][1]).union( set(lwRes[0][0])))

In [56]:
fraud_mark = dict()

for row in paysim.iterrows():
    row = row[1]
    if row["isFraud"]:
        fraud_mark[indexer[row["nameOrig"]]]=1
        fraud_mark[indexer[row["nameDest"]]]=1

In [57]:
f_count = 0
for i in fraud_participants:
    f_count += fraud_mark.get(i, 0)

In [58]:
f_count

6